*{
padding:0%;
margin:0%;
box-sizing:border-box;
font-family:sans-serif;
}

html {
scroll-behavior: smooth;
}
.fade-in-section {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-section.is-visible {
opacity: 1;
transform: translateY(0);
}

.fade-in-section > div, .fade-in-section > h1, .fade-in-section > p, .fade-in-section > header {
opacity: 0;
transform: translateY(20px);
transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible > div, .fade-in-section.is-visible > h1, .fade-in-section.is-visible > p, .fade-in-section.is-visible > header {
opacity: 1;
transform: translateY(0);
}

#scrollTopBtn {
display: none; 
z-index: 100;
}

 .accordion-content {
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-in-out;
}

body {
font-family: 'Poppins', sans-serif;
}

.sidebar-open {
overflow: hidden;
}